<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HomePage</title>
</head>

<body>
  <div class="box">
    <p>
      <mat-toolbar color="primary">
        <span class="example-spacer"></span>
        <a href="./home" style="color: white; text-decoration: none;">&nbsp;Home</a>       
        <a href="./stock" style="color: white; text-decoration: none;">&nbsp;&nbsp;&nbsp;&nbsp;Stock Pool</a>
        <a href="./Bond" style="color: white; text-decoration: none;">&nbsp;&nbsp;&nbsp;&nbsp;Bond Pool</a>
        <a href="./record" style="color: white; text-decoration: none;">&nbsp;&nbsp;&nbsp;&nbsp;Transaction Record</a>
      </mat-toolbar>
    </p>    
    
    <div class="center">
      <app-pie-chart></app-pie-chart>
    </div>

    <div class="right">
     <app-line-chart></app-line-chart>
    </div>

    <div class="table">
      <app-all-hold-assets></app-all-hold-assets>
    </div>

</div>    
</body>
</html>