/* table {
    width: 100%;
} */
  
th {
  text-align: left;
}
/* .container {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
} */
.mat-cell {
  text-align: center;
  vertical-align: middle;
}
